<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=yes">
  <meta name="format-detection" content="telephone=no">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta property="og:title" content="">
  <meta property="og:type" content="website">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <meta property="og:site_name" content="">
  <meta property="og:description" content="">

  <title>Sirius</title>

  <link rel="stylesheet" href="css/style.css" media="all">
  <link rel="stylesheet" href="css/responsive.css" media="all">
  <link rel="stylesheet" href="js/select2/select2.min.css">
  <script src="js/jquery-1.9.1.min.js"></script>

</head>

<body>
  <header id="header" class="static">

    <div class="all">

      <div class="hd-wrap">
        <div class="hd-left">
          <div class="logo">
            <div class="img"><a href=""><img src="./images/logo-header.png" alt="logo"></a></div>
          </div>
        </div>
  
        <div class="hd-main">
          <div class="main__top">
            <div class="lang">
              <span class="global"><i class="fas fa-globe"></i></span>
              <span class="down"><i class="fas fa-caret-down"></i></span>
              <select class="form-control">
                <option selected>Tiếng Việt</option>
                <option>Japanese</option>
              </select>
            </div>
            <div class="tw">
              <a href="" class="btn">
                <i class="fab fa-twitter"></i>Twitter
                <span>44</span>
              </a>
            </div>
            <div class="fb" class="btn">
              <a href="" class="btn">
                <i class="fab fa-facebook-f"></i>Facebook
                <span>44</span>
              </a>
            </div>
          </div>
  
          <div class="navbar-toggle">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </div>
    
          <div class="main__bot">
  
            <div class="nav-wrap" id="hd-nav">
              <div class="nav-overlay"></div>
              <ul class="nav-ul clear">
                <li class="nav-item">
                  <a class="nav-item" href="#">Trang chủ</a>
                </li>
                <li class="nav-item has-dropdown">
                  <a href="#" role="button" href="">Giới thiệu</a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Giới thiệu 1</a></li>
                    <li><a href="#">Giới thiệu 2</a></li>
                    <li><a href="#">Giới thiệu 3</a></li>
                    <li><a href="#">Giới thiệu 4</a></li>
                  </ul>
                </li>
                <li class="nav-item"><a href="#">Hệ thống</a></li>
                <li class="nav-item"><a href="#">Danh sách hội viên</a></li>
              </ul>
            </div>
            <div class="auth">
              <div class="singup">
                <a href="#">Đăng ký</a>
              </div>
              /
              <div class="signin">
                <a href="#">Đăng nhập</a>
              </div>
            </div>
        </div>
      </div>

    </div>

  </header>

  <main>

    
    <div class="join section-wrap">
      <div class="flower-right">
        <img src="./images/flower-right.png" alt="bg flower">
      </div>
      <div class="flower-fall-2">
        <img src="./images/flower-fall-2.png" alt="flower">
      </div>

      <div class="all">

        <div class="section-title">
          <h1 class="fz-36 f-title">Đăng ký</h1>
        </div>

        <div class="join-detail__content clear">

          <div class="side-left">

            <div class="">

              <div class="box__input">
                <div class="title"><h3 class="fz-24 sub-title2">Thông tin chung</h3></div>
                <div class="content">
                  
                  <div class="input__child">
                    <h6 class="input__title">Họ</h6>
                    <div class="form">
                      <input type="text" class="form-control">
                    </div>
                  </div>
                  <div class="input__child">
                    <h6 class="input__title">Tên</h6>
                    <div class="form">
                      <input type="text" class="form-control">
                    </div>
                  </div>
                  <div class="input__child">
                    <h6 class="input__title">Tuổi</h6>
                    <div class="form">
                      <input type="text" class="form-control">
                    </div>
                  </div>
                  <div class="input__child">
                    <h6 class="input__title">Nơi ở</h6>
                    <div class="form">
                      <select name="" id="" class="form-control">
                        <option value="">Hồ Chí Minh</option>
                        <option value="">...</option>
                      </select>
                      <span class="color icon">
                        <i class="fas fa-caret-down"></i>
                      </span>
                    </div>
                  </div>
                  
                </div>
              </div>
  
              <div class="br br-small">
                <i class="diamond"></i>
                <i class="diamond"></i>
              </div>
  
              <div class="box__input">
                <div class="title"><h3 class="fz-24 sub-title2">Thông tin chi tiết</h3></div>
                <div class="content">
                  
                  <div class="input__child">
                    <h6 class="input__title">Lý lịch hôn nhân</h6>
                    <div class="form">
                      <select name="" id="" class="form-control">
                        <option value="">Chưa kết hôn</option>
                        <option value="">...</option>
                      </select>
                      <span class="color icon">
                        <i class="fas fa-caret-down"></i>
                      </span>
                    </div>
                  </div>
                  <div class="input__child">
                    <h6 class="input__title">Học vấn</h6>
                    <div class="form">
                      <select name="" id="" class="form-control">
                        <option value="">Tốt nghiệp cấp 3</option>
                        <option value="">...</option>
                      </select>
                      <span class="color icon">
                        <i class="fas fa-caret-down"></i>
                      </span>
                    </div>
                  </div>
                  <div class="input__child">
                    <h6 class="input__title">Nghề nghiệp</h6>
                    <div class="form">
                      <input type="text" class="form-control">
                    </div>
                  </div>
                  
                </div>
              </div>
              
              <div class="br br-small">
                <i class="diamond"></i>
                <i class="diamond"></i>
              </div>
  
              <div class="box__input">
                <div class="content">
                  
                  <div class="input__child full">
                    <h6 class="input__title">Chọn cô gái</h6>
                    <div class="form select2">

                      <select id="chon" multiple="multiple">
                        <option name-img="daisy">Daisy</option>
                        <option name-img="henra">Henra</option>
                      </select>

                    </div>
                  </div>
                  
                </div>
              </div>
  
              <div class="br br-small">
                <i class="diamond"></i>
                <i class="diamond"></i>
              </div>

              <div class="box__input">
                <div class="content">
                  
                  <div class="input__child">
                    <h6 class="input__title">Hình ảnh</h6>
                    <div class="form add-img">
                      <div class="block">
                        <a href=""><i class="far fa-image"></i>Thêm ảnh</a>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>

              <div class="button">
                <a href="" class="btn btn-1">Đăng ký</a>
              </div>
            </div>

          </div>

        </div>

        </div>
        

      </div>
    </div>
    
  </main>

  <footer id="footer">
    <div class="all">
      <div class="ft-infos">

        <div class="ft__child name">
          <div class="f-title"><h3 class="fz-24">Tên công ty</h3></div>
          <div class="content">

            <div class="sentence">
              <p>151 Cách Mạng Thang 8, Phường 11, Quận 3, Tp. Hồ Chí Minh, Việt Nam</p>
            </div>
            <div class="sentence">
              <a href="tel:+">(+84) 126 - 922 - 0162</a>
            </div>
            <div class="sentence">
              <a href="tel:+">mona-demo@gmail.com</a>
            </div>

          </div>
        </div>
        <div class="ft__child contact-form">
          <div class="f-title"><h3 class="fz-24">Liên hệ</h3></div>
          <div class="form">
            <input type="text" class="form-control" placeholder="Họ">
            <input type="text" class="form-control" placeholder="Tên">
            <input type="text" class="form-control" placeholder="Email">
            <input type="text" class="form-control" placeholder="Số điện thoại">
            <textarea class="form-control" placeholder="Tin nhắn"></textarea>
            <a href="" class="btn btn-1">Gửi tin</a>
          </div>
        </div>
        <div class="ft__child social">
          <div class="f-title"><h3 class="fz-24">Social</h3></div>
          <div class="button">
            <a href="" class="btn fb"><i class="fab fa-facebook-f"></i></a>
            <a href="" class="btn ib"><i class="fas fa-envelope"></i></a>
          </div>
        </div>
      </div>
    </div>
  
      <div class="ft-sys">
        <div class="all center-txt">
          Designed and developed by 
          <a href="https://mona-media.com/dich-vu/thiet-ke-website-chuyen-nghiep/" target="_blank" title="Công ty thiế kế website chuyên nghiệp">
          <strong>Mona Media</strong> <img src="http://mona-media.com/logo.png" style="width:20px;vertical-align:sub;" alt="MonaMedia"></a>&nbsp;
          
        </div>
      </div>
  </footer>

  <a href="javascript:;" class="scroll-top-link" id="scroll-top">
    <i class="fa fa-angle-up"></i>
  </a>

  <script src="js/slick/slick.min.js"></script>
  <script src="js/master.js"></script>
  <script src="js/google-map.js"></script>
  <script src="js/select2/select2.min.js"></script>
  <script async="" type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_roqaeKE7ULRUNw5wG0i8TqvWRsSJ2JY&amp;callback=loadGoogleMap"></script>
  
  <script>
    jQuery(document).ready(function () {

      function format(state) {
        if (!state.id) return state.text; // optgroup
        var originalOption = state.element;
        //console.log(`<img src="images/avatar/${state.id.toLowerCase()}.jpg" alt="">`);
        return "<img class='avatar' src='images/avatar/" + $(originalOption).attr('name-img') + ".jpg'/>" + state.text;
      }
      $("#chon").select2({
        maximumSelectionLength: 9,
        width: "100%",
        templateResult: format,
        escapeMarkup: function (m) { return m; }
      });
    })
  </script>
</body>

</html>