<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=yes">
  <meta name="format-detection" content="telephone=no">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta property="og:title" content="">
  <meta property="og:type" content="website">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <meta property="og:site_name" content="">
  <meta property="og:description" content="">

  <title>Sirius</title>

  <link rel="stylesheet" href="css/style.css" media="all">
  <link rel="stylesheet" href="css/responsive.css" media="all">
  <script src="js/jquery-1.9.1.min.js"></script>

</head>

<body>
  <header id="header" class="static">

    <div class="all">

      <div class="hd-wrap">
        <div class="hd-left">
          <div class="logo">
            <div class="img"><a href=""><img src="./images/logo-header.png" alt="logo"></a></div>
          </div>
        </div>
  
        <div class="hd-main">
          <div class="main__top">
            <div class="lang">
              <span class="global"><i class=color "fas fa-globe"></i></span>
              <span class="down"><i class="fas fa-caret-down"></i></span>
              <select class="form-control">
                <option selected>Tiếng Việt</option>
                <option>Japanese</option>
              </select>
            </div>
            <div class="tw">
              <a href="" class="btn">
                <i class="fab fa-twitter"></i>Twitter
                <span>44</span>
              </a>
            </div>
            <div class="fb" class="btn">
              <a href="" class="btn">
                <i class="fab fa-facebook-f"></i>Facebook
                <span>44</span>
              </a>
            </div>
          </div>
  
          <div class="navbar-toggle">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </div>
    
          <div class="main__bot">
  
            <div class="nav-wrap" id="hd-nav">
              <div class="nav-overlay"></div>
              <ul class="nav-ul clear">
                <li class="nav-item">
                  <a class="nav-item" href="#">Trang chủ</a>
                </li>
                <li class="nav-item has-dropdown">
                  <a href="#" role="button" href="">Giới thiệu</a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Giới thiệu 1</a></li>
                    <li><a href="#">Giới thiệu 2</a></li>
                    <li><a href="#">Giới thiệu 3</a></li>
                    <li><a href="#">Giới thiệu 4</a></li>
                  </ul>
                </li>
                <li class="nav-item"><a href="#">Hệ thống</a></li>
                <li class="nav-item"><a href="#">Danh sách hội viên</a></li>
              </ul>
            </div>
            <div class="auth">
              <div class="singup">
                <a href="#">Đăng ký</a>
              </div>
              /
              <div class="signin">
                <a href="#">Đăng nhập</a>
              </div>
            </div>
        </div>
      </div>

    </div>

  </header>

  <main>
    <div class="flower-right bot">
      <img src="./images/flower-right.png" alt="bg flower">
    </div>
    <div class="flower-fall-2">
      <img src="./images/flower-fall-2.png" alt="flower">
    </div>

    <div class="thongtincongty">
      <div class="all">

        <div class="section-title">
          <h1 class="fz-36 f-title">Giới thiệu</h1>
          <div class="position">
            <a href="">Trang chủ</a>
            /
            <span class="color">Giới thiệu</span>
          </div>
        </div>

        <div class="sv__entry clear">

          <div class="side-left">

            <ul class="list">
              <li class="item active">
                <div class="icon"><i class="fas fa-fw fa-user"></i></div>
                <div class="info"><a href="#thongtin">Thông tin công ty</a></div>
              </li>
              <li class="item" >
                <div class="icon"><i class="fas fa-fw fa-lock"></i></div>
                <div class="info"><a href="#gioithieu">Giới thiệu dịch vụ</a></div>
              </li>
            </ul>
          </div>

          <div class="side-right">

            <div class="summary">
              <div class="title"><h3>Công ty dịch vụ quốc tế TK</h3></div>
              <ul class="sum-list">
                <li>
                  <div class="subject"><p>Ngành nghề:</p></div>
                  <div class="content">
                    <p class="arrow">Lorem ipsum dolor sit amet.</p>
                    <p class="arrow">Lorem ipsum dolor sit amet.</p>
                    <p class="arrow">Lorem ipsum dolor sit amet.</p>
                    <p class="arrow">Lorem ipsum dolor sit amet.</p>
                    <p class="arrow">Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet.</p>
                  </div>
                </li>
                <li>
                  <div class="subject"><p>Vốn điều lệ:</p></div>
                  <div class="content"><p>300 vạn yên <em class="color">(khoảng 600 triệu)</em></p></div>
                </li>
                <li>
                  <div class="row-ct">
                    <div class="subject"><p>Trụ sở chính:</p></div>
                    <div class="content"><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo, repellendus.</p></div>
                  </div>
                  <div class="row-ct">
                    <div class="subject"><p>Người đại diện:</p></div>
                    <div class="content"><p class="color">Masaya Yoneda</p></div>
                  </div>
                </li>
                <li>
                  <div class="row-ct">
                    <div class="subject"><p>Văn phòng Việt Nam:</p></div>
                    <div class="content"><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo, repellendus.</p></div>
                  </div>
                  <div class="row-ct">
                    <div class="subject"><p>Người đại diện:</p></div>
                    <div class="content"><p class="color">Đặng phi hùng</p></div>
                  </div>
                </li>
                <li>
                  <div class="subject"><p>Email:</p></div>
                  <div class="content"><p>Masaa@gmail.com</p></div>
                </li>
                <li>
                  <div class="subject"><p>Tel:</p></div>
                  <div class="content"><p>080-432-2123</p></div>
                </li>
              </ul>
            </div>

            <div class="br br-small">
              <i class="diamond"></i>
              <i class="diamond"></i>
            </div>

            <div class="team">
              <div class="title"><h3>Đội ngũ nhân viên</h3></div>
              <ul class="team-list">
                <li>
                  <div class="pic">
                    <div class="img"><img src="./images/avatar/daisy.jpg" alt=""></div>
                  </div>
                  <div class="content">
                    <h5 class="hd">Masaya Yoneda</h5>
                    <p><em class="color">Giám đốc</em></p>
                    <p class="arrow">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                       Quasi beatae nisi aliquam inventore quisquam nesciunt eveniet praesentium sed
                        aspernatur recusandae veniam qui aliquid tempore cumque, porro dicta enim, nulla voluptatibus?</p>
                    <p class="arrow">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, quia.</p>
                    <p class="arrow"><span class="color2">Sở thích:</span> Xem bóng chày</p>
                  </div>
                </li>
                <li>
                  <div class="pic">
                    <div class="img"><img src="./images/avatar/daisy.jpg" alt=""></div>
                  </div>
                  <div class="content">
                    <h5 class="hd">Đặng Phi Hùng</h5>
                    <p><em class="color">Giám đốc chi nhánh Việt Nam</em></p>
                    <p class="arrow">
                      <strong>2006-2008:</strong>
                      <br>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem voluptatibus consequatur, excepturi cumque nostrum aliquam?
                    </p>
                    <p class="arrow">
                      <strong>2008-2010:</strong>
                      <br>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem voluptatibus consequatur, excepturi cumque nostrum aliquam?
                    </p>
                    <p class="arrow">
                      <strong>2011-2013:</strong>
                      <br>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem voluptatibus consequatur, excepturi cumque nostrum aliquam?
                    </p>
                    <p class="arrow">
                      <strong>2013-2017:</strong>
                      <br>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem voluptatibus consequatur, excepturi cumque nostrum aliquam?
                    </p>
                    <p class="arrow">
                      <strong>2018-nay:</strong>
                      <br>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem voluptatibus consequatur, excepturi cumque nostrum aliquam?
                    </p>
                    <p class="arrow"><span class="color2">Sở thích:</span>Xe máy</p>      
                  </div>
                </li>
              </ul>
            </div>

            <div class="br br-small">
              <i class="diamond"></i>
              <i class="diamond"></i>
            </div>

            <div class="policy">
              <div class="title"><h3>Chính sách riêng tư</h3></div>
              <ul class="pol-list">
                <li>
                  <div class="subject"><p>Về việc thu nhập thông tin cá nhân:</p></div>
                  <div class="content"><p class="arrow">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, 
                    hic ducimus fugit distinctio cumque iure. Impedit ea eligendi assumenda tempora cumque quaerat dolor 
                    itaque hic ex? Ipsam nam vitae deserunt.</p></div>
                </li>
                <li>
                  <div class="subject"><p>Về việc sử dụng thông tin cá nhân:</p></div>
                  <div class="content"><p class="arrow">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, 
                    hic ducimus fugit distinctio cumque iure. Impedit ea eligendi assumenda tempora cumque quaerat dolor 
                    itaque hic ex? Ipsam nam vitae deserunt.</p></div>
                </li>
                <li>
                  <div class="subject"><p>Thời hạn sử dụng thông tin cá nhân:</p></div>
                  <div class="content"><p class="arrow">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, 
                    hic ducimus fugit distinctio cumque iure. Impedit ea eligendi assumenda tempora cumque quaerat dolor 
                    itaque hic ex? Ipsam nam vitae deserunt.</p></div>
                </li>
                <li>
                  <div class="subject"><p>Về việc quản lý thông tin cá nhân:</p></div>
                  <div class="content"><p class="arrow">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, 
                    hic ducimus fugit distinctio cumque iure. Impedit ea eligendi assumenda tempora cumque quaerat dolor 
                    itaque hic ex? Ipsam nam vitae deserunt.</p></div>
                </li>
              </ul>
            </div>
          </div>

        </div>

        </div>
        

      </div>
    </div>
    
  </main>

  <footer id="footer">
    <div class="all">
      <div class="ft-infos">

        <div class="ft__child name">
          <div class="f-title"><h3 class="fz-24">Tên công ty</h3></div>
          <div class="content">

            <div class="sentence">
              <p>151 Cách Mạng Thang 8, Phường 11, Quận 3, Tp. Hồ Chí Minh, Việt Nam</p>
            </div>
            <div class="sentence">
              <a href="tel:+">(+84) 126 - 922 - 0162</a>
            </div>
            <div class="sentence">
              <a href="tel:+">mona-demo@gmail.com</a>
            </div>

          </div>
        </div>
        <div class="ft__child contact-form">
          <div class="f-title"><h3 class="fz-24">Liên hệ</h3></div>
          <div class="form">
            <input type="text" class="form-control" placeholder="Họ">
            <input type="text" class="form-control" placeholder="Tên">
            <input type="text" class="form-control" placeholder="Email">
            <input type="text" class="form-control" placeholder="Số điện thoại">
            <textarea class="form-control" placeholder="Tin nhắn"></textarea>
            <a href="" class="btn btn-1">Gửi tin</a>
          </div>
        </div>
        <div class="ft__child social">
          <div class="f-title"><h3 class="fz-24">Social</h3></div>
          <div class="button">
            <a href="" class="btn fb"><i class="fab fa-facebook-f"></i></a>
            <a href="" class="btn ib"><i class="fas fa-envelope"></i></a>
          </div>
        </div>
      </div>
    </div>
  
      <div class="ft-sys">
        <div class="all center-txt">
          Designed and developed by 
          <a href="https://mona-media.com/dich-vu/thiet-ke-website-chuyen-nghiep/" target="_blank" title="Công ty thiế kế website chuyên nghiệp">
          <strong>Mona Media</strong> <img src="http://mona-media.com/logo.png" style="width:20px;vertical-align:sub;" alt="MonaMedia"></a>&nbsp;
          
        </div>
      </div>
  </footer>

  <a href="javascript:;" class="scroll-top-link" id="scroll-top">
    <i class="fa fa-angle-up"></i>
  </a>

  <script src="js/slick/slick.min.js"></script>
  <script src="js/master.js"></script>
  <script src="js/google-map.js"></script>
  <script async="" type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_roqaeKE7ULRUNw5wG0i8TqvWRsSJ2JY&amp;callback=loadGoogleMap"></script>
  
  <script>
    jQuery(document).ready(function () {
      
    })
  </script>
</body>

</html>