.mona-content b {
  font-weight: bold; }
.mona-content i, .mona-content em {
  font-style: italic; }

.select2-results__option[aria-selected=true] {
  display: none; }

.primary-btn {
  padding: 10px 30px;
  background: #2772db;
  border: none;
  color: #fff;
  cursor: pointer;
  border: 1px solid #2772db;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  display: inline-block; }

.primary-btn:hover {
  background: transparent;
  color: #2772db; }

primary-btn.small-btn {
  padding: 5px 15px; }

.mona-main-menu li a {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out; }
.mona-main-menu li .current-menu-item > a, .mona-main-menu li .current-menu-parent > a {
  background-color: rgba(39, 114, 219, 0.8);
  color: white !important; }

#header .nav-ul > li.current-menu-item > a,
#header .nav-ul > li.current-menu-parent > a {
  background-color: rgba(39, 114, 219, 0.8);
  color: white; }

.flex-video {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
  overflow: hidden; }

.flex-video.widescreen {
  padding-bottom: 57.25%; }

.flex-video.vimeo {
  padding-top: 0; }

.flex-video iframe,
.flex-video object,
.flex-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
  .flex-video {
    padding-top: 0; } }
.banner-slide .item {
  position: relative; }
  .banner-slide .item .bg {
    position: absolute; }

#footer .ft-infos {
  display: block; }
  @media screen and (max-width: 769px) {
    #footer .ft-infos {
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex; } }
  #footer .ft-infos .ft__child.mona-w30 {
    width: 30%;
    float: left; }
    #footer .ft-infos .ft__child.mona-w30.social {
      width: 20%; }
      @media screen and (max-width: 769px) {
        #footer .ft-infos .ft__child.mona-w30.social {
          -webkit-order: 2;
          -ms-flex-order: 2;
          order: 2;
          width: 50%; } }
    #footer .ft-infos .ft__child.mona-w30.name {
      min-width: 1px; }
      @media screen and (max-width: 769px) {
        #footer .ft-infos .ft__child.mona-w30.name {
          -webkit-order: 1;
          -ms-flex-order: 1;
          order: 1;
          width: 50%; } }
  #footer .ft-infos .ft__child.mona-w40 {
    width: 50%;
    float: left; }
    @media screen and (max-width: 769px) {
      #footer .ft-infos .ft__child.mona-w40 {
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        width: 100%; } }
  #footer .ft-infos .ft__child.contact-form {
    display: block; }
    #footer .ft-infos .ft__child.contact-form .form {
      display: block;
      margin: 0 -5px; }
      #footer .ft-infos .ft__child.contact-form .form .mona-item {
        width: 50%;
        float: left;
        width: 50%;
        float: left;
        margin-bottom: 5px;
        padding: 0 5px; }
        #footer .ft-infos .ft__child.contact-form .form .mona-item.lasted {
          width: 100%; }
  #footer .ft-infos .mona-social-icon .btn {
    margin-right: 0px;
    width: 50px;
    height: 50px;
    margin: 2px;
    display: inline-block;
    border-radius: 50%;
    border: 2px dashed #e6e6e6;
    padding: 0;
    line-height: 50px;
    text-align: center; }
    #footer .ft-infos .mona-social-icon .btn .fab {
      line-height: 50px; }

.wpcf7-response-output {
  position: absolute;
  bottom: 0; }

img {
  max-width: 100%;
  height: auto; }

.information .side-left .images-slide {
  margin: 0 -5px; }
  .information .side-left .images-slide .item {
    padding: 0 5px;
    margin-bottom: 10px;
    float: left; }
    @media screen and (max-width: 470px) {
      .information .side-left .images-slide .item {
        width: 50%; } }
    .information .side-left .images-slide .item .wrap {
      margin: 0;
      margin-right: 0;
      margin-bottom: 0; }

.comment-box .form textarea.form-control {
  display: block;
  padding-right: 80px; }
.comment-box .form #submit {
  width: auto;
  padding: 10px;
  background: #fff;
  border: 1px solid #e1e1e1;
  border-left: 0; }
  .comment-box .form #submit:hover {
    color: #fff;
    background: #2772db;
    border-color: #2772db; }

#header {
  position: static; }

.home #header {
  position: absolute; }

.aside-left .promo .content {
  padding: 20px 10px;
  background-position: bottom left;
  background-size: cover;
  background-repeat: no-repeat; }
  .aside-left .promo .content .info {
    position: relative;
    transform: none;
    width: 100%;
    z-index: 2;
    left: 0;
    top: 0; }
    .aside-left .promo .content .info:after {
      content: none; }
  .aside-left .promo .content:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); }
  .aside-left .promo .content:after {
    content: none; }

.flower-fall-2 {
  z-index: -1; }

.mona-hidden {
  display: none !important; }

.mona-choice-avatar-wrapp label {
  cursor: pointer;
  display: block; }

.mona-choice-avatar-wrapp {
  text-align: center; }
  .mona-choice-avatar-wrapp .add-img {
    display: inline-block; }
  .mona-choice-avatar-wrapp .block.has-img {
    position: static !important; }
    .mona-choice-avatar-wrapp .block.has-img .fa-icon {
      position: absolute !important;
      top: 0 !important;
      right: 0 !important;
      display: inline-block !important; }
  .mona-choice-avatar-wrapp .mona-avatar-view {
    width: 100px;
    height: 100px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    margin-left: 20px; }
    .mona-choice-avatar-wrapp .mona-avatar-view img {
      position: absolute;
      top: 0;
      left: 0;
      max-width: 100%; }

.mona-login-action .mona-button {
  float: right; }
.mona-login-action .mona-text a {
  color: #2772db; }

.mona-fw {
  width: 100%; }

.mona-popup-main {
  z-index: 999999999999999; }
  .mona-popup-main.mona-schedule-pop .mfp-container .mfp-content {
    width: 900px; }
    .mona-popup-main.mona-schedule-pop .mfp-container .mfp-content .popup-title {
      display: none; }
    .mona-popup-main.mona-schedule-pop .mfp-container .mfp-content .popup-content {
      color: #000;
      text-align: inherit;
      list-style-position: inside; }
  .mona-popup-main .mfp-container {
    background: #00000094; }
    .mona-popup-main .mfp-container .mfp-content {
      cursor: auto;
      width: 500px;
      max-width: 100%;
      min-height: 100px;
      max-height: 100%;
      padding: 20px;
      background: #fff;
      -webkit-backface-visibility: hidden;
      -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out; }
      .mona-popup-main .mfp-container .mfp-content .mona-popup-message .popup-title {
        text-align: center;
        font-size: 25px;
        text-transform: uppercase;
        margin-bottom: 10px; }
      .mona-popup-main .mfp-container .mfp-content .mona-popup-message .popup-content {
        font-size: 16px;
        text-align: center; }
      .mona-popup-main .mfp-container .mfp-content .mona-popup-message.success .popup-title {
        color: #096d20; }
      .mona-popup-main .mfp-container .mfp-content .mona-popup-message.success .popup-content {
        color: #01460e; }
      .mona-popup-main .mfp-container .mfp-content .mona-popup-message.error .popup-title {
        color: #c61017; }
      .mona-popup-main .mfp-container .mfp-content .mona-popup-message.error .popup-content {
        color: #c61017; }

.mona-choice-avatar-account {
  text-align: center; }
  .mona-choice-avatar-account .avatar-label {
    width: 200px;
    display: inline-block;
    height: 200px;
    border: 1px solid #efefef;
    cursor: pointer;
    position: relative;
    font-size: 20px;
    color: #d6d6d6;
    line-height: 200px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; }

.section-title.success-title {
  padding-bottom: 10px; }

.mona-thank-text {
  font-size: 15px;
  color: #528bdf; }

.mona-info-table-title {
  font-size: 20px;
  margin: 10px 0;
  font-weight: bold;
  color: #2748a3;
  text-transform: uppercase; }

table.mona-input-info {
  width: 100%; }
  table.mona-input-info td {
    width: 50%;
    padding: 5px;
    border: 1px solid #efefef;
    vertical-align: middle; }
    table.mona-input-info td .item-view {
      text-align: center;
      width: 50%;
      float: left;
      padding: 10px;
      min-height: 170px; }

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  position: relative; }

.select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-selection__clear {
  position: absolute;
  right: 0; }

.status {
  background: #e62e2e; }
  .status.doc_than {
    background: #00cec9;
    display: none; }
  .status.dinh_hon {
    background: #fd79a8; }
  .status.ket_hon {
    background: #a29bfe; }

.mona-control-booking .box__input .content {
  margin: 0 -10px; }
  .mona-control-booking .box__input .content .input__child {
    display: block;
    width: 50%;
    float: left; }
    @media screen and (max-width: 480px) {
      .mona-control-booking .box__input .content .input__child {
        width: 100%; } }
    .mona-control-booking .box__input .content .input__child.full {
      width: 100%; }

.detail-right .right__list .item .info,
.pagination .page-numbers .page-numbers {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out; }

.pagination .page-numbers li {
  background: transparent; }

.pagination .page-numbers .page-numbers:hover, .pagination .page-numbers .page-numbers.current {
  background-color: #538fe2;
  color: white; }

.mona-content h1 {
  font-size: 35px;
  line-height: 1.5; }
.mona-content h2 {
  font-size: 30px;
  line-height: 1.5; }
.mona-content h3 {
  font-size: 25px;
  line-height: 1.5; }
.mona-content h4 {
  font-size: 20px;
  line-height: 1.5; }
.mona-content h5 {
  font-size: 15px;
  line-height: 1.5; }
.mona-content h6 {
  font-size: 10px;
  line-height: 1.5; }
.mona-content ul, .mona-content ol {
  list-style-position: inside;
  padding-left: 20px;
  margin: 10px 0; }

.detail-right {
  margin-bottom: 20px; }

@media screen and (max-width: 930px) {
  .aside-left {
    padding: 0; }
    .aside-left .wrapp-mobile {
      margin: 0 -5px; }
    .aside-left .box-filter {
      width: 25%;
      float: left;
      padding: 0 5px;
      margin-bottom: 15px; }
      .aside-left .box-filter.x2r {
        width: 50%; }
        .aside-left .box-filter.x2r .filter {
          margin: 0 -5px; }
          .aside-left .box-filter.x2r .filter .filter__child {
            width: 50%;
            float: left;
            padding: 0 5px; }
      .aside-left .box-filter.full {
        width: 100%; }

  .detail-right {
    padding: 0; } }
@media screen and (max-width: 480px) {
  .aside-left .box-filter {
    width: 100%; }
    .aside-left .box-filter.x2r {
      width: 100%; } }
main.main {
  padding: 20px 0; }

.comment-box {
  margin-bottom: 20px; }

@media screen and (max-width: 780px) {
  .news-detail .side-right {
    padding: 0; }

  #footer .ft-infos {
    padding-left: 0;
    padding-right: 0; } }
.promo-wrapp-info {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 49%;
  background-color: #fff;
  max-width: 500px;
  z-index: 1; }
  .promo-wrapp-info:before {
    content: '';
    position: absolute;
    top: 0;
    left: -72px;
    -webkit-transform: translate(0, -115px);
    -ms-transform: translate(0, -115px);
    transform: translate(0, -115px);
    height: 640px;
    width: 640px;
    border-radius: 50%;
    background-color: white;
    z-index: -1; }
  .promo-wrapp-info .info {
    overflow: auto;
    padding: 40px 20px;
    position: static;
    width: 100%; }
    .promo-wrapp-info .info:before {
      content: none; }

.promo-wrapp-info .info::-webkit-scrollbar {
  width: 6px; }

/* Track */
.promo-wrapp-info .info::-webkit-scrollbar-track {
  border: none;
  background: #f1f1f1;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out; }

/* Handle */
.promo-wrapp-info .info::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out; }

/* Handle on hover */
.promo-wrapp-info .info::-webkit-scrollbar-thumb:hover {
  background: #555; }

.recent .mona-left-content {
  float: left;
  padding-right: 30px; }
  .recent .mona-left-content .f-title {
    color: #2748a3; }
  .recent .mona-left-content .content-pd {
    padding: 10px 0;
    color: #528ee2;
    font-weight: bold; }

@media screen and (max-width: 930px) {
  .promo-wrapp-info {
    display: block;
    width: 100%;
    position: static; }
    .promo-wrapp-info:before {
      content: none; } }
.right__list .item .img {
  overflow: hidden; }
  .right__list .item .img img {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    .right__list .item .img img:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1); }
  .right__list .item .img .status {
    z-index: 9; }

.status-video {
  z-index: 9;
  position: absolute;
  bottom: 10px;
  left: 10px;
  text-align: center;
  right: 10px;
  color: white;
  padding: 5px 10px;
  text-transform: uppercase;
  background: #e25252; }

.mona-gai-item-loop {
  margin-bottom: 15px; }
  .mona-gai-item-loop .info {
    background: #fff;
    padding: 10px; }
  .mona-gai-item-loop .img:hover .mona-thumb-img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }
  .mona-gai-item-loop .img a {
    display: block;
    width: 100%;
    height: 100%; }
    .mona-gai-item-loop .img a .mona-thumb-img {
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      display: block;
      background-color: #fff6f8;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: top center;
      background-repeat: no-repeat; }

.newmem-slide {
  margin: 0 -15px; }
  .newmem-slide .item {
    padding: 0 15px; }
    .newmem-slide .item:after {
      left: 15px;
      right: 15px; }
    .newmem-slide .item .wrap {
      margin-right: 0; }

.mona-gai-item-loop {
  position: relative; }
  .mona-gai-item-loop:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.5294117647);
    z-index: 99; }
  .mona-gai-item-loop.doc_than:after {
    content: none; }
  .mona-gai-item-loop .img {
    width: 100%;
    height: 230px;
    overflow: hidden;
    position: relative; }
    .mona-gai-item-loop .img .status {
      z-index: 9;
      position: absolute;
      top: 10px;
      right: 10px;
      color: white;
      padding: 5px 10px;
      text-transform: uppercase; }
    .mona-gai-item-loop .img img {
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
      .mona-gai-item-loop .img img:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1); }

@media screen and (max-width: 415px) {
  #header .hd-main:before {
    content: none; }

  #header .main__top {
    width: 100%;
    padding-right: 45px; } }
.detail-right .right__top .box-filter:last-child {
  margin-right: 0; }

.mona-no-padding {
  padding: 0 !important; }

.mona-comment-no-login p, .mona-comment-no-login textarea {
  margin-bottom: 10px; }
.mona-comment-no-login label {
  display: block;
  cursor: pointer; }
.mona-comment-no-login #author, .mona-comment-no-login #email {
  font-family: inherit;
  width: 100%;
  height: 30px;
  font-size: 1.4rem;
  border: solid 1px #e1e1e1;
  padding: 10px 15px;
  line-height: 20px;
  outline: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
.mona-comment-no-login .form-submit {
  text-align: right; }
  .mona-comment-no-login .form-submit #submit {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: static;
    display: inline-block;
    background: #2772db;
    border: 1px solid #2772db;
    color: #fff;
    border-radius: 3px; }
    .mona-comment-no-login .form-submit #submit:hover {
      background: #fff;
      color: #2772db;
      border-color: #2772db; }

.aside-left {
  clear: left; }

.mona-wrap-debug {
  display: flex;
  display: -webkit-flex; }
  .mona-wrap-debug .input__child {
    margin-right: 5px;
    width: 50%; }
    .mona-wrap-debug .input__child + .input__child {
      margin-right: 0;
      margin-left: 5px; }

@media screen and (max-width: 350px) {
  .box__input .input__child {
    width: 100%;
    margin-left: 0;
    margin-right: 0; }

  .mona-wrap-debug .input__child + .input__child {
    margin-left: 0; }

  .mona-wrap-debug {
    display: block; } }
.box__input .input__child.mona-choice-avatar-wrapp .add-img {
  width: 200px;
  height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.mona-choice-gallery-wrapp .add-img {
  width: 100px;
  height: 100px;
  display: inline-block;
  cursor: pointer; }
  .mona-choice-gallery-wrapp .add-img.loading .fa-icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: Font Awesome\ 5 Free;
    font-weight: 900;
    content: "\f110";
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite; }

.mona-galery-view {
  margin: 0 -10px;
  display: inline-block;
  width: 100%;
  margin-top: 10px; }
  .mona-galery-view li {
    list-style: none;
    list-style: none;
    width: 93px;
    height: 93px;
    float: left;
    padding: 0 10px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative; }
    .mona-galery-view li img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover; }

.mona-error li {
  list-style-position: inside;
  color: red;
  margin-bottom: 10px; }

.mona-error-register {
  padding: 0 10px; }

#mona-submit-button.loading {
  font-size: 0;
  cursor: not-allowed; }

.mona-view-schedule.loading {
  font-size: 0;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out; }

#mona-submit-button.loading:before,
#mona-action-re-email a.loading:before,
.mona-login-action .btn.loading:before,
.mona-view-schedule.loading:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-size: 15px;
  font-family: Font Awesome\ 5 Free;
  font-weight: 900;
  content: "\f110";
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
  margin-right: 5px; }

#login-none-veri {
  margin-bottom: 10px; }

.success-register > div {
  border-bottom: 1px solid #e5e5e5;
  padding: 5px 5px; }
.success-register.mona-send-very > div {
  border-bottom: none; }
.success-register .valum {
  margin-bottom: 0; }
.success-register p {
  margin-bottom: 0px; }
.success-register .line {
  width: 160px;
  max-width: 100%;
  display: inline-block; }
  .success-register .line.img {
    vertical-align: middle;
    text-align: left; }
    .success-register .line.img + img {
      vertical-align: middle; }
  .success-register .line.gallery {
    display: block;
    text-align: left;
    margin-bottom: 10px; }
    .success-register .line.gallery + img {
      vertical-align: initial; }
.success-register .valum {
  display: inline-block; }
.success-register img {
  display: inline-block;
  width: 100px;
  height: auto;
  margin-left: 5px; }

.select2-results__options .avatar {
  object-fit: cover; }

.note {
  padding: 0 10px; }

.mona-nav-item-action .icon {
  border: 2px dashed transparent; }
.mona-nav-item-action .icon, .mona-nav-item-action .icon i, .mona-nav-item-action .info a {
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out; }

.system-tag-content .tag-list {
  display: none;
  animation: fadeOut 0.7s both 0s;
  -webkit-animation: fadeOut 0.7s both 0s; }
  .system-tag-content .tag-list.active {
    animation: fadeIn 0.7s both 0s;
    -webkit-animation: fadeIn 0.7s both 0s;
    display: block; }
  .system-tag-content .tag-list .mona-system-item {
    display: block;
    margin-bottom: 0; }
    .system-tag-content .tag-list .mona-system-item .nav-item .icon {
      cursor: pointer;
      display: inline-block;
      line-height: 50px;
      text-align: center;
      transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out; }
    .system-tag-content .tag-list .mona-system-item .nav-item .detail {
      display: inline-block;
      max-width: calc(100% - 60px);
      vertical-align: text-top; }
      .system-tag-content .tag-list .mona-system-item .nav-item .detail a {
        font-size: 18px;
        font-weight: bold;
        transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out; }
    .system-tag-content .tag-list .mona-system-item .system-content {
      margin-left: 50px;
      overflow: hidden;
      padding: 15px 0;
      padding-left: 15px; }
    .system-tag-content .tag-list .mona-system-item.active .detail a {
      color: #2772db; }

.thongtincongty .mona-item {
  list-style: none; }
.thongtincongty .sum-list .subject {
  width: 30%;
  float: left; }
  .thongtincongty .sum-list .subject + .content {
    overflow: hidden; }
.thongtincongty .sum-list li {
  padding-bottom: 0;
  margin-bottom: 5px;
  list-style: none; }
.thongtincongty .sum-list .content {
  float: none;
  width: auto; }
  .thongtincongty .sum-list .content ul, .thongtincongty .sum-list .content ol {
    list-style: none;
    padding: 0;
    margin: 0;
    magin-bottom: 10px; }
    .thongtincongty .sum-list .content ul li, .thongtincongty .sum-list .content ol li {
      padding: 0;
      padding-left: 15px;
      margin-bottom: 0px;
      position: relative; }
      .thongtincongty .sum-list .content ul li:before, .thongtincongty .sum-list .content ol li:before {
        position: absolute;
        top: 0;
        left: 0;
        content: '\f0da';
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        display: inline-block;
        color: #2772db;
        line-height: 20px;
        position: absolute;
        left: 0px; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes fadeOut {
  from {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fadeOut {
  from {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-webkit-keyframes slideUp {
  from {
    opacity: 1;
    line-height: 1.5;
    display: block;
    transform: scaleY(1);
    transform-origin: left top; }
  100% {
    opacity: 0;
    line-height: 0;
    display: none;
    transform: scaleY(0);
    transform-origin: left top; } }
@keyframes slideUp {
  from {
    opacity: 1;
    line-height: 1.5;
    transform: scaleY(1);
    transform-origin: left top; }
  100% {
    opacity: 0;
    line-height: 0;
    transform: scaleY(0);
    transform-origin: left top; } }
@-webkit-keyframes slideDown {
  from {
    opacity: 0;
    line-height: 0;
    transform: scaleY(0);
    transform-origin: left top; }
  100% {
    opacity: 1;
    line-height: 1.5;
    transform: scaleY(1);
    transform-origin: left top; } }
@keyframes slideDown {
  from {
    opacity: 0;
    line-height: 0;
    display: none;
    transform: scaleY(0);
    transform-origin: left top; }
  100% {
    opacity: 1;
    line-height: 1.5;
    display: block;
    transform: scaleY(1);
    transform-origin: left top; } }
.hethong .tag-list li {
  display: block; }

.mona-content table {
  margin-bottom: 10px;
  width: 100%; }
  .mona-content table td {
    border: 1px solid #d7d7d7;
    padding: 5px; }

.mona-update-button {
  width: 100%; }

.mona-galery-edit li {
  display: inline-block;
  position: relative; }
  .mona-galery-edit li .fa-icon {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    position: absolute;
    right: 0;
    top: 0;
    background: #e9aead;
    color: #fff;
    z-index: 999;
    cursor: pointer; }
  .mona-galery-edit li.add-img-action .fa-icon {
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -10px; }

#footer .ft-sys {
  font-size: 12px;
  font-style: italic; }
  #footer .ft-sys a {
    font-style: normal;
    color: #80b2f8;
    font-weight: bold; }

#header .dropdown-menu {
  overflow: hidden; }
  #header .dropdown-menu a {
    border-radius: 0; }

#header.sticky .hd-left, #header.sticky .hd-main {
  height: auto; }

header#header.sticky, .home header#header.sticky {
  background: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
  animation: fadeInDown .7s both 0s;
  -webkit-animation: fadeInDown .7s both 0s;
  padding: 10px 0; }

#header.sticky .hd-main:before {
  content: none; }
#header.sticky .img img {
  max-height: 40px;
  width: auto; }
#header.sticky .main__top {
  display: none; }
#header.sticky .main__bot {
  margin: 0; }

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@-moz-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
.promotion .promo__main .img img {
  height: 100%;
  width: auto;
  max-width: inherit; }

.recent .mona-recent-post {
  float: left;
  padding-right: 40px; }
  .recent .mona-recent-post .item {
    display: inline-block;
    width: 100%; }
  .recent .mona-recent-post .img {
    width: 154px;
    float: left;
    margin-right: 20px; }
  .recent .mona-recent-post .item-content {
    overflow: hidden; }

.recent {
  overflow: hidden; }

.mona-gai-item-loop .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center; }

.br::after {
  left: 0; }

.detail-right .right__list {
  display: block;
  margin: 0 -15px; }
  .detail-right .right__list .item {
    width: 25%;
    float: left;
    padding: 0 15px;
    margin-bottom: 30px; }
    .detail-right .right__list .item:nth-child(4n) + .mona-gai-item-loop {
      clear: left; }
    @media screen and (max-width: 769px) {
      .detail-right .right__list .item {
        width: 33.3333%; }
        .detail-right .right__list .item:nth-child(4n) + .mona-gai-item-loop {
          clear: none; }
        .detail-right .right__list .item:nth-child(3n) + .mona-gai-item-loop {
          clear: left; } }
    @media screen and (max-width: 580px) {
      .detail-right .right__list .item {
        width: 50%; }
        .detail-right .right__list .item:nth-child(4n) + .mona-gai-item-loop {
          clear: none; }
        .detail-right .right__list .item:nth-child(3n) + .mona-gai-item-loop {
          clear: none; }
        .detail-right .right__list .item:nth-child(2n) + .mona-gai-item-loop {
          clear: left; } }
    @media screen and (max-width: 400px) {
      .detail-right .right__list .item {
        width: 100%; }
        .detail-right .right__list .item:nth-child(4n) + .mona-gai-item-loop {
          clear: none; }
        .detail-right .right__list .item:nth-child(3n) + .mona-gai-item-loop {
          clear: none; }
        .detail-right .right__list .item:nth-child(2n) + .mona-gai-item-loop {
          clear: none; } }

.br {
  display: block;
  width: 100%; }
  .br .diamond {
    display: block;
    float: left;
    margin-top: -7.5px; }
  .br .diamond + .diamond {
    float: right; }
  .br:before {
    display: table;
    content: " "; }
  .br:after {
    content: "";
    display: table;
    clear: both; }

.mona-user-info {
  width: 50%;
  min-height: 30px;
  float: left; }
  .mona-user-info:nth-child(2n) {
    float: right;
    text-align: right; }
  .mona-user-info a {
    font-weight: bold; }

.detail-right .right__top > .nav-page {
  flex: auto;
  -webkit-box-flex: auto;
  -ms-flex: auto; }

.sao {
  color: red; }

.mona-galery-view li.mona-register-galleri img {
  position: static;
  width: 100%;
  height: auto;
  object-fit: unset; }

.mona-galery-view li.mona-register-galleri .fa-icon {
  position: absolute;
  top: 0;
  right: 0;
  color: red;
  width: 20pxhe;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  cursor: pointer; }

.mona-account-table {
  width: 100%;
  text-align: left; }
  .mona-account-table th, .mona-account-table td {
    border: 1px solid #d5d5d5;
    padding: 10px;
    background: #efefef;
    color: #2772db;
    vertical-align: middle; }
  .mona-account-table td {
    color: #000;
    background: transparent; }

.mona-account-table ul {
  list-style-position: inside; }

#mona-order-table ul li {
  list-style: none;
  width: 33%;
  float: left;
  padding: 10px;
  text-align: center; }
  #mona-order-table ul li .mona-thumb-img {
    width: 100%;
    height: 230px;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px; }

.mona-schedule-popup {
  text-align: initial;
  color: #000; }
  .mona-schedule-popup .mona-list li {
    float: left;
    width: 50%;
    list-style: none;
    padding: 5px 0; }
    .mona-schedule-popup .mona-list li.mona-lt {
      width: 100%;
      margin-top: 10px; }
      .mona-schedule-popup .mona-list li.mona-lt .lt-title {
        margin-bottom: 10px;
        font-size: 20px;
        text-transform: uppercase; }
      .mona-schedule-popup .mona-list li.mona-lt table {
        width: 100%;
        height: auto; }
        .mona-schedule-popup .mona-list li.mona-lt table th, .mona-schedule-popup .mona-list li.mona-lt table td {
          border: 1px solid #efefef;
          padding: 5px; }

.mona-schedule-pop.mona-popup-main .mfp-container .mfp-content {
  overflow: auto; }

.mona-popup-main .mfp-container {
  position: fixed; }

.mona-nav-item-actions .menu li {
  list-style: none;
  padding: 5px;
  padding-right: 25px;
  font-weight: 600;
  align-items: center;
  position: relative; }

.mona-nav-item-actions .menu li a {
  display: block;
  font-size: 18px;
  padding: 5px 10px; }

.mona-nav-item-actions .menu li a:before {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: Font Awesome\ 5 Free;
  font-weight: 900;
  content: "\f023";
  line-height: 36px;
  text-align: center;
  margin-right: 5px;
  border: 2px dashed #000000; }

.mona-nav-item-actions .menu li.current-menu-item a:before,
.mona-nav-item-actions .menu li:hover a:before {
  border: 2px dashed #2772db; }

.mona-nav-item-actions .menu li.current-menu-item a,
.mona-nav-item-actions .menu li:hover a {
  color: #2772db; }

#header .has-dropdown.mona-full-width {
  position: static; }
  #header .has-dropdown.mona-full-width.current-menu-parent .dropdown-menu, #header .has-dropdown.mona-full-width.current-menu-item .dropdown-menu {
    /*                display: block;
                    -webkit-transform: perspective(1200px) rotateX(0deg);
                    transform: perspective(1200px) rotateX(0deg); */ }
  #header .has-dropdown.mona-full-width .dropdown-menu {
    box-shadow: none;
    background: transparent;
    width: 100%;
    top: 41px; }
  #header .has-dropdown.mona-full-width .sub-menu {
    text-align: left;
    box-shadow: none;
    margin-top: 5px;
    background: #fff;
    border-radius: 5px; }
    #header .has-dropdown.mona-full-width .sub-menu li {
      display: inline-block; }
      @media screen and (max-width: 930px) {
        #header .has-dropdown.mona-full-width .sub-menu li {
          display: block; } }

.mona-nav-item-actions.mona-system-menu .menu li a:before {
  content: "\f184";
  font-family: Font Awesome\ 5 Brands; }

#header .has-dropdown:hover .dropdown-menu {
  z-index: 999999; }

#header {
  background: transparent; }

.mona-about-sec:first-child .sec-pad {
  padding-top: 0; }
.mona-about-sec .sec-pad {
  padding: 50px 0; }
.mona-about-sec:nth-child(2n) {
  background: #f8f8f8; }
  .mona-about-sec:nth-child(2n) .block-2-col.img-dt .img {
    float: right; }
  .mona-about-sec:nth-child(2n) .block-2-col.img-dt .detail {
    float: left;
    padding-left: 0;
    padding-right: 30px; }

.mona-content ul {
  padding-left: 0;
  counter-reset: section;
  list-style: none; }
  .mona-content ul li {
    padding-left: 25px; }
    .mona-content ul li:before {
      color: #2772db;
      content: "\f0da";
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      display: inline-block;
      margin-left: -15px;
      float: left; }
.mona-content p {
  padding-bottom: 0;
  margin-bottom: 15px; }
.mona-content table {
  max-width: 100%; }
.mona-content table td, .mona-content table th {
  padding: 10px;
  vertical-align: middle; }
.mona-content.content-table table tr:first-child td {
  background-color: #e1e1e1;
  font-weight: 500;
  color: #000; }
.mona-content.content-table table tr:nth-child(odd) {
  background-color: #ebebeb; }
.mona-content.content-table table tr td {
  padding: 12px 20px; }
.mona-content.content-table ol {
  padding-left: 0;
  counter-reset: section;
  list-style: none; }
  .mona-content.content-table ol li {
    padding: 10px 0;
    padding-left: 50px; }
    .mona-content.content-table ol li:before {
      display: inline-block;
      vertical-align: top;
      width: 30px;
      height: 30px;
      line-height: 28px;
      font-size: 18px;
      border-radius: 50%;
      text-align: center;
      color: white;
      font-weight: 600;
      counter-increment: section;
      content: counter(section);
      margin-right: 10px;
      margin-left: -40px;
      float: left;
      color: #2772db;
      border: 2px solid #2772db;
      background-color: white; }

.mona-about-content ol {
  padding-left: 0;
  counter-reset: section;
  list-style: none; }
  .mona-about-content ol li {
    padding: 10px 0;
    padding-left: 75px; }
    .mona-about-content ol li:before {
      display: inline-block;
      vertical-align: top;
      width: 45px;
      height: 45px;
      line-height: 45px;
      font-size: 18px;
      border-radius: 50%;
      text-align: center;
      color: white;
      font-weight: 600;
      counter-increment: section;
      content: counter(section);
      margin-right: 0;
      margin-left: -65px;
      float: left;
      color: #fff;
      border: 2px solid #2772db;
      background-color: #2772db; }

.mona-span-avt {
  width: 70px;
  height: 70px;
  display: inline-block;
  background-size: cover;
  background-position: center;
  border-radius: 70px; }

.callvn-table {
  border: none; }

@media screen and (min-width: 931px) {
  .hd-abso #header .nav-ul li a {
    color: #fff; } }

.row100.mona-term {
  margin-top: 30px; }

.list-term.mona-term {
  overflow: hidden;
  margin: auto;
  max-width: 100%; }
  .list-term.mona-term .item {
    width: 50%;
    list-style: none;
    float: left;
    margin-bottom: 30px; }
    @media screen and (max-width: 580px) {
      .list-term.mona-term .item {
        width: 100%; } }
    .list-term.mona-term .item .term-wrap {
      padding: 0 30px; }
      .list-term.mona-term .item .term-wrap .avt {
        width: 200px;
        border-radius: 50%;
        overflow: hidden;
        height: 200px;
        margin: auto;
        margin-bottom: 20px; }
      .list-term.mona-term .item .term-wrap .name {
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 10px; }
      .list-term.mona-term .item .term-wrap .position {
        text-align: center;
        font-size: 18px;
        margin-bottom: 10px;
        color: #00ccff; }

.widget_nav_menu ul li {
  list-style: none;
  padding-left: 25px; }
  .widget_nav_menu ul li:before {
    color: #2772db;
    content: "\f0da";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    display: inline-block;
    margin-left: -15px;
    float: left; }

.flower-fall-2, .flower-right {
  display: none; }

.stepst-header .step-hd__ct .hd {
  color: #ff3a57; }

.stepst-block .c-ct .hd {
  color: #2771db;
  font-weight: bold; }

.mona-home-about-sec.mona-about-sec .sec-pad {
  padding: 0; }

.mona-contet-policy {
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #d6d6d6; }

#mona-register-form-submit .mona-action-register .left {
  float: left;
  text-align: left;
  width: inherit;
  padding: 10px 20px; }
  #mona-register-form-submit .mona-action-register .left .fas {
    margin-right: 10px; }
#mona-register-form-submit .mona-action-register .right {
  float: right;
  text-align: right;
  width: inherit;
  padding: 10px 30px; }
  #mona-register-form-submit .mona-action-register .right .fas {
    margin-left: 10px; }

.mona-xac-nhan-thong-tin {
  min-height: 300px;
  position: relative; }
  .mona-xac-nhan-thong-tin.loading:before {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8); }
  .mona-xac-nhan-thong-tin.loading:after {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: 50%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: Font Awesome\ 5 Free;
    font-weight: 900;
    content: "\f110";
    -webkit-animation: spin 0.8s linear infinite;
    animation: spin 0.8s linear infinite;
    color: #fff;
    font-size: 40px; }

.mona-fix-670 {
  width: 670px;
  max-width: 100%; }

.btn-fullw {
  width: 100%; }

.sec-table {
  margin-bottom: 30px; }
  .sec-table table {
    width: 100%; }
    .sec-table table td {
      padding: 5px;
      border: 1px solid #d0d0d0; }

.notitle {
  color: transparent; }

.mona-table-xnhv h6 {
  font-size: inherit; }

.mona-content small {
  font-size: 0.8em; }

div.wpcf7-response-output {
  position: relative;
  max-width: 670px;
  margin-left: auto;
  margin-right: auto; }

.upload-wrap span.wpcf7-list-item {
  margin: 0;
  margin-top: 10px; }

.upload-wrap .mona-contet-policy {
  padding: 5px; }

.mona-home-about-sec.sec-right .block-2-col.img-dt .img {
  float: right; }
.mona-home-about-sec.sec-right .block-2-col.img-dt .detail {
  float: left;
  padding-left: 0;
  padding-right: 30px; }
  @media screen and (max-width: 780px) {
    .mona-home-about-sec.sec-right .block-2-col.img-dt .detail {
      padding-right: 0px; } }

@media screen and (max-width: 780px) {
  .mona-about-sec:nth-child(2n) .block-2-col.img-dt .detail {
    padding-right: 0px; } }

.ft__child .menu a,
.mona-content ul li {
  line-height: 1.7; }

.mona-home-about-btn a {
  margin-bottom: 5px; }

.button a {
  margin-bottom: 5px; }


.mona-bg {
  background: #205ab1;
  color: #fff; }

.sec-table {
  font-size: 20px; }

@media screen and (max-width: 780px) {
  .block-2-col .button {
    text-align: left; } }

.achievement-list-wrap{
    display: inline-block;
    width: 100%;
}
.achievement-list-wrap .achievement-item{
    float: left;
    width: 33.333%;
    padding: 15px;
    text-align: center;
}
.achievement-item .img{
    height: 70px;
    margin: 0 auto;
    display: block;
}
.achievement-item .aif{
    
}
.achievement-item .aif .lb{
    color: #707070;
    line-height: 20px;
    padding: 10px 0;
}
.achievement-item .aif .num{
    font-size: 60px;
    color: #181f27;
    line-height: 1;
}
.mona-comment-no-login .form-submit #submit{
    height: auto;
}
.box__input .input__child .select2 .select2-selection__rendered{
    height: auto;
}
.cont-570px{
    width: 570px;
    max-width: 100%;
    margin: 0 auto;
}
.mynav-tab{
    display: block;
    width: 100%;
    margin-bottom: 15px;
    
}
.nv-item{
    display: table-cell;
    width: 1%;
    text-align: center;
    background-color: #2772db;
    color: #fff;
    line-height: 20px;
    padding: 10px;
}
.nv-item + .nv-item{
    border-left: solid 1px #fff;
}
.nv-item:hover,
.nv-item.active{
    background-color: #1e5bb1;
    color: #fff;
}

.tab-cont-wrap .tab-item{
    display: none;
}
.tab-cont-wrap .tab-item.active{
    display: block;
}
@media screen and (max-width: 480px) {
  .achievement-item .aif .num {
    font-size: 40px; } 
	}