.select2-results__option[aria-selected=true] {
  display: none
}

.primary-btn {
  padding: 10px 30px;
  background: #2772db;
  border: none;
  color: #fff;
  cursor: pointer;
  border: 1px solid #2772db;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  display: inline-block
}

.primary-btn:hover {
  background: transparent;
  color: #2772db
}

primary-btn.small-btn {
  padding: 5px 15px
}


.mona-main-menu li a {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out
}

.mona-main-menu li .current-menu-item>a {
  background-color: rgba(39, 114, 219, 0.8);
  color: white
}

#header .nav-ul>li.current-menu-item>a {
  background-color: rgba(39, 114, 219, 0.8);
  color: white
}

.flex-video {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
  overflow: hidden
}

.flex-video.widescreen {
  padding-bottom: 57.25%
}

.flex-video.vimeo {
  padding-top: 0
}

.flex-video iframe,
.flex-video object,
.flex-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

@media only screen and (max-device-width: 800px),
only screen and (device-width: 1024px) and (device-height: 600px),
only screen and (width: 1280px) and (orientation: landscape),
only screen and (device-width: 800px),
only screen and (max-width: 767px) {
  .flex-video {
    padding-top: 0
  }
}

.banner-slide .item {
  position: relative
}

.banner-slide .item .bg {
  position: absolute
}

#footer .ft-infos {
  display: block
}

@media screen and (max-width: 769px) {
  #footer .ft-infos {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex
  }
}

#footer .ft-infos .ft__child.mona-w30 {
  width: 30%;
  float: left
}

#footer .ft-infos .ft__child.mona-w30.social {
  width: 20%
}

@media screen and (max-width: 769px) {
  #footer .ft-infos .ft__child.mona-w30.social {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    width: 50%
  }
}

#footer .ft-infos .ft__child.mona-w30.name {
  min-width: 1px
}

@media screen and (max-width: 769px) {
  #footer .ft-infos .ft__child.mona-w30.name {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    width: 50%
  }
}

#footer .ft-infos .ft__child.mona-w40 {
  width: 50%;
  float: left
}

@media screen and (max-width: 769px) {
  #footer .ft-infos .ft__child.mona-w40 {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    width: 100%
  }
}

#footer .ft-infos .ft__child.contact-form {
  display: block
}

#footer .ft-infos .ft__child.contact-form .form {
  display: block;
  margin: 0 -5px
}

#footer .ft-infos .ft__child.contact-form .form .mona-item {
  width: 50%;
  float: left;
  width: 50%;
  float: left;
  margin-bottom: 5px;
  padding: 0 5px
}

#footer .ft-infos .ft__child.contact-form .form .mona-item.lasted {
  width: 100%
}

#footer .ft-infos .mona-social-icon .btn {
  margin-right: 0px;
  width: 50px;
  height: 50px;
  margin: 2px;
  display: inline-block;
  border-radius: 50%;
  border: 2px dashed #e6e6e6;
  padding: 0;
  line-height: 50px;
  text-align: center
}

.wpcf7-response-output {
  position: absolute;
  bottom: 0
}

img {
  max-width: 100%;
  height: auto
}

.information .side-left .images-slide {
  margin: 0 -5px
}

.information .side-left .images-slide .item {
  padding: 0 5px;
  margin-bottom: 10px;
  float: left
}

@media screen and (max-width: 470px) {
  .information .side-left .images-slide .item {
    width: 50%
  }
}

.information .side-left .images-slide .item .wrap {
  margin: 0;
  margin-right: 0;
  margin-bottom: 0
}

.comment-box .form textarea.form-control {
  display: block;
  padding-right: 80px
}

.comment-box .form #submit {
  width: auto;
  padding: 10px;
  background: #fff;
  border: 1px solid #e1e1e1;
  border-left: 0
}

.comment-box .form #submit:hover {
  color: #fff;
  background: #2772db;
  border-color: #2772db
}

#header {
  position: static
}

.home #header {
  position: absolute
}

.aside-left .promo .content {
  padding: 20px 10px;
  background-position: bottom left;
  background-size: cover;
  background-repeat: no-repeat
}

.aside-left .promo .content .info {
  position: relative;
  transform: none;
  width: 100%;
  z-index: 2;
  left: 0;
  top: 0
}

.aside-left .promo .content .info:after {
  content: none
}

.aside-left .promo .content:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4)
}

.aside-left .promo .content:after {
  content: none
}

.flower-fall-2 {
  z-index: -1
}

.mona-hidden {
  display: none !important
}

.mona-choice-avatar-wrapp label {
  cursor: pointer;
  display: block
}

.mona-choice-avatar-wrapp .add-img {
  display: inline-block
}

.mona-choice-avatar-wrapp .mona-avatar-view {
  width: 100px;
  height: 100px;
  display: inline-block;
  overflow: hidden;
  position: relative;
  margin-left: 20px
}

.mona-choice-avatar-wrapp .mona-avatar-view img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%
}

.mona-login-action .mona-button {
  float: right
}

.mona-login-action .mona-text a {
  color: #2772db
}

.mona-fw {
  width: 100%
}

.mona-popup-main {
  z-index: 999999999999999
}

.mona-popup-main .mfp-container {
  background: #00000094
}

.mona-popup-main .mfp-container .mfp-content {
  cursor: auto;
  width: 500px;
  max-width: 100%;
  min-height: 100px;
  max-height: 100%;
  padding: 20px;
  background: #fff;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out
}

.mona-popup-main .mfp-container .mfp-content .mona-popup-message .popup-title {
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  margin-bottom: 10px
}

.mona-popup-main .mfp-container .mfp-content .mona-popup-message .popup-content {
  font-size: 16px;
  text-align: center
}

.mona-popup-main .mfp-container .mfp-content .mona-popup-message.success .popup-title {
  color: #096d20
}

.mona-popup-main .mfp-container .mfp-content .mona-popup-message.success .popup-content {
  color: #01460e
}

.mona-popup-main .mfp-container .mfp-content .mona-popup-message.error .popup-title {
  color: #c61017
}

.mona-popup-main .mfp-container .mfp-content .mona-popup-message.error .popup-content {
  color: #c61017
}

.mona-choice-avatar-account {
  text-align: center
}

.mona-choice-avatar-account .avatar-label {
  width: 200px;
  display: inline-block;
  height: 200px;
  border: 1px solid #efefef;
  cursor: pointer;
  position: relative;
  font-size: 20px;
  color: #d6d6d6;
  line-height: 200px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat
}

.section-title.success-title {
  padding-bottom: 10px
}

.mona-thank-text {
  font-size: 15px;
  color: #528bdf
}

.mona-info-table-title {
  font-size: 20px;
  margin: 10px 0;
  font-weight: bold;
  color: #2748a3;
  text-transform: uppercase
}

table.mona-input-info {
  width: 100%
}

table.mona-input-info td {
  width: 50%;
  padding: 5px;
  border: 1px solid #efefef;
  vertical-align: middle
}

table.mona-input-info td .item-view {
  text-align: center;
  width: 50%;
  float: left;
  padding: 10px;
  min-height: 170px
}
